.block {
    padding: 14px 16px;
    border: 3px solid #000000;
}

.option {
    overflow: hidden;
}

.option-right {
    width: 47%;
    float: right;
}

.option-left {
    float: left;
    width: 47%;
}

#txtField {
    width: 100%;
    height: 400px;
}

#output,
#tmp {
    width: 100%;
    height: 1000px;
}

#txtField {
    width: 100%;
    height: 400px;
}